//混合器
@mixin wrap_style($width_base:1200px) {
    width: $width_base;
    margin: 0 auto;
    background: #f7f7f7;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px red;
}

@function double($size) {
    @return $size * 10
}
.titles{
    font-size: 18px;
    color: $setColor;
    margin: 10px 0;
    position: relative;
    height: 35px;
    line-height: 35px;
    padding-left: 30px;
    &::after{
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        width: 4px;
        height: 50%;
        transform: translate(-50%,-50%);
        background-color: $font_color;
    }
}
