.mainWrap {
    width: 100vw;
    // height: 100vh;
    background-color: $backgroundCOlor;
    @include bgImg;

    .mainContent {
        max-width: 1360px;
        min-width: 1200px;
        margin: 0 auto;
        // height: 100%;
        .ant-layout-sider-children{
            overflow: hidden;
        }
    }

    .layoutWrap {
        background-color: $backgroundCOlor;
        @include bgImg;
        height: 100%;
        display: grid;
        grid-template-columns: 230px 1fr;
        >aside {
            background-color: $backgroundCOlor;
            @include bgImg;
            user-select: none;
            max-width: unset !important;
            width: 100% !important;
            height: 460px;
            overflow: auto;
        }
    }

    .wrapheight {
        background-color: $backgroundCOlor;
        @include bgImg;
        color: $setColor;
        padding: 10px 25px;
        padding-top: 0;
        font-size: 14px;
        // min-height: calc(100vh - 141px);
        min-width: 920px;
        overflow-y: auto;
        max-height: calc(100vh - 47px);
        padding-bottom: 100px;

    }

    .ant-menu.ant-menu-root {
        text-align: center;
        color: $setColor;
        background-color: $backgroundCOlor;
        overflow-y:scroll;
        overflow-x: hidden;
        height: 460px;
        @include bgImg;
    }

    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
        border-right-color: $setColor;

    }

    .ant-menu.ant-menu-sub.ant-menu-inline {
        text-align: center;
    }

    .ant-menu-submenu.ant-menu-submenu-inline {
        font-size: 18px;
    }

    .ant-menu-item.ant-menu-item-only-child {
        font-size: 14px;
    }

    // .ant-menu-item-selected{
    //     background-color:$setColor ;
    //     color: $backgroundCOlor;
    // }
    .ant-menu-submenu.ant-menu-submenu-inline,
    .ant-menu-item.ant-menu-item-only-child {
        &:hover {
            background-color: $setColor;
            color: $backgroundCOlor;
        }
    }

    .ant-menu.ant-menu-sub.ant-menu-inline {
        background-color: $backgroundCOlor;
        @include bgImg;
        color: $setColor;
    }

    .ant-menu-sub.ant-menu-inline .ant-menu-item-group-title {
        padding-left: 0px;
        color: $setColor;

    }

    .ant-menu-submenu-arrow {
        color: $setColor;

    }
}