.headerWarp {
    width: 100vw;
    height: 45px;
    margin: 0 auto 20px;

    .header {
        max-width: 1360px;
        min-width: 1200px;
        padding-left: 30px;
        height: 100%;
        margin: 0 auto;
        color: $setColor;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
        box-sizing: border-box;
        .logo{
            position: relative;
            width: 100%;
            height: 100%;
            >span{
                position: absolute;
                z-index: 2;
                left: 30px;
                top: 0px;
                display: inline-block;
                // width: 150px;
                height: 45px;
                // background-color: #333;
                opacity: 1;
                transition: all .4s;
                // text-align: center;
                padding-left: 25px;
                
                line-height: 45px;
                cursor: pointer;
                &:hover{
                    // &{
                    // background-color: rgba($color: #000000, $alpha: 0);
                    opacity: 0;
                    // transform: rotateX(180deg);
                    // }
                    & ~ *{
                      top: -60px;
                        
                    }
                    & ~ svg{
                        top: 5px;
                        left: 65px;
                    }
                }
            }
            canvas,svg{
                // z-index: 4;
                position: absolute;
                left: 30px;
                top: 110px;
                transition:all .2s ease ;


            }
            #canvas2{
                position: absolute;
                left: 52px;
            }
           
        }
    }
}
.spanbg:hover + canvas{
    top: -50px;

}