
  
  .center-hole {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .grooves {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .groove {
    width: 2px;
    height: 100%;
    background-color: #333;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
  }
  
  .groove:nth-child(odd) {
    height: 70%; /* 调整奇数槽纹的高度 */
  }
  
  .groove:nth-child(even) {
    height: 80%; /* 调整偶数槽纹的高度 */
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .vinyl-record {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: spin 5s linear infinite; /* 将旋转动画应用于整个唱片 */
    top: 15px;
    left: 6%;
  }
  
  