.reactWrap {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundCOlor;
    
    .reactContent {
        max-width: 1360px;
        min-width: 1200px;
        margin: 0 auto;

    }

  
}